<!DOCTYPE html>
<html>
  <head>
    <title>Syed Rubayyat Akbar - UX Designer, Front and Backend Developer</title>
    <script src="https://use.fontawesome.com/5c00394972.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Syed Rubayyat Akbar", root_path, class: "name" %>
      <nav>
        <%= link_to "Articles", posts_path %>
        <a href="#">Projects</a>
        <a href="#">Contacts</a>
    </header>
    <%= yield %>

    <footer id="main_footer">
      <p class="copyright">&copy; 2017 Syed Rubayyat Akbar</p>
      <nav>
        <a href="https://www.behance.net/koshai" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a>
        <a href="https://www.github.com/koshai" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/koshai" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
